DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_HOST=postgres_auth_test
DB_PORT=5432
DB_NAME=postgres
JWT_SECRET_KEY='0299d351-d0da-4735-a039-cb9dd6224cb9'
REDIS_AUTH_HOST=redis_auth_test
REDIS_AUTH_PORT=6379
REDIS_AUTH_PASSWORD=superpassword
ADMIN_PASSWORD=admin
NOBODY_PASSWORD=nobody
MIGRATIONS_PATH='migrations_test'
